<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="BadSmells"
            visible="true"
            id="gr.uom.java.jdeodorant.BadSmells">
         <menu
               label="Bad Smells"
               id="BadSmellsMenu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               label="Feature Envy"
               icon="icons/featureEnvySpray.gif"
               class="gr.uom.java.jdeodorant.refactoring.actions.BadSmellsMenu"
               tooltip="Feature Envy"
               menubarPath="BadSmellsMenu/sampleGroup"
               toolbarPath="sampleGroup"
               id="gr.uom.java.jdeodorant.actions.FeatureEnvy">
         </action>
         <action
         	   label="Type Checking"
               icon="icons/typeCheckingSpray.gif"
               class="gr.uom.java.jdeodorant.refactoring.actions.BadSmellsMenu"
               tooltip="Type Checking"
               menubarPath="BadSmellsMenu/sampleGroup"
               toolbarPath="sampleGroup"
               id="gr.uom.java.jdeodorant.actions.TypeChecking">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Bad Smells"
            id="gr.uom.java.jdeodorant">
      </category>
      <view
            name="Feature Envy"
            icon="icons/featureEnvySpray.gif"
            category="gr.uom.java.jdeodorant"
            class="gr.uom.java.jdeodorant.refactoring.views.FeatureEnvy"
            id="gr.uom.java.jdeodorant.views.FeatureEnvy">
      </view>
      <view
            category="gr.uom.java.jdeodorant"
            class="gr.uom.java.jdeodorant.refactoring.views.TypeChecking"
            icon="icons/typeCheckingSpray.gif"
            id="gr.uom.java.jdeodorant.views.TypeChecking"
            name="Type Checking">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="gr.uom.java.jdeodorant.views.FeatureEnvy">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="gr.uom.java.jdeodorant.views.SwitchStatements"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
   </extension>
</plugin>
